@media screen and (width <=768px) {
  h1 {
    font-size: 9vmin;
  }

  h2 {
    text-align: center;
    font-size: 6vmin;
  }

  h3 {
    font-size: 5.5vmin;
  }

  h4 {
    font-size: 4.5vmin;
  }
}
