// Variables

$color-primary: #007dda;
$color-text: #242424;
$color-white: #fff;

// Elements

body {
  font: 1.4rem Helvetica, sans-serif;
  line-height: 1.8;
  color: $color-text;
  overflow-x: none;
}

h1 {
  font-size: 7vmin;
}

h2 {
  text-align: center;
  font-size: 4.5vmin;
}

h3 {
    font-size: 3.5vmin;
}

h4 {
  font-size: 3vmin;
  bottom: 30px;
}

a,
a:focus,
a:active,
a:visited {
  color: $color-primary;
}

a:hover {
  opacity: 0.7;
}

footer {
  font-size: 18px;
  background: rgb(255,141,198);
  background: linear-gradient(135deg, rgba(255,141,198,1) 0%, rgba(153,111,222,1) 50%, rgba(63,156,241,1) 100%);
  color: $color-white;

  a,
  a:focus,
  a:active,
  a:visited {
    color: $color-white;
    text-decoration: underline !important;
  }
}

// Overrides

.container {
  padding: 40px;
}

.col-md-4 {
  margin: 20px 0;
}

// Custom

.bg-banner {
  background: rgb(255,141,198);
  background: linear-gradient(135deg, rgba(255,141,198,1) 0%, rgba(153,111,222,1) 50%, rgba(63,156,241,1) 100%);
  color: $color-white;
  padding: 50px 30px 0;

  a,
  a:focus,
  a:active,
  a:visited {
    color: $color-white;
    text-decoration: underline;
  }

  a:hover {
    opacity: 0.8;
  }
}

.bg-blue {
  background-color: #3F9CF1;
  color: #fff;
}

.bg-purple {
  background-color: #996FDE;
  color: #fff;
}

.bg-pink {
  background-color: #FF8DC6;
  color: #fff;
}

.bg-green {
  background-color: #5EC472;
  color: #fff;
}

.app-icon {
  max-width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  margin: 10px;
}

.app-store-icon {
  display: block;
  margin: auto;
}

.game-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  margin: 10px 0 20px 0;
}

.capsule {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
  border-radius: 30px;
  margin: 10px;
  background-color: #fff;
  color: #3F9CF1;
  padding: 5px;
  font-size: 3vmin;
}
