// Variables

$color-primary: #007dda;
$color-text: #242424;
$color-white: #fff;

// Elements

body {
  font: 1.4rem Helvetica, sans-serif;
  line-height: 1.8;
  color: $color-text;
  overflow-x: none;
}

h1 {
  font-size: 7vmin;
}

h2 {
  text-align: center;
  font-size: 4.5vmin;
}

h3 {
  font-size: 3.5vmin;
}

h4 {
  font-size: 3vmin;
  bottom: 30px;
}

a,
a:focus,
a:active,
a:visited {
  color: $color-primary;
}

a:hover {
  opacity: 0.7;
}

footer {
  font-size: 18px;
  background: rgb(255 141 198);
  background:
    linear-gradient(
      135deg,
      rgb(255 141 198 / 100%) 0%,
      rgb(153 111 222 / 100%) 50%,
      rgb(63 156 241 / 100%) 100%
    );
  color: $color-white;

  a,
  a:focus,
  a:active,
  a:visited {
    color: $color-white;
    text-decoration: underline !important;
  }
}

// Overrides

.container {
  padding: 40px;
}

.col-md-4 {
  margin: 20px 0;
}

// Custom

.bg-banner {
  background: rgb(255 141 198);
  background:
    linear-gradient(
      135deg,
      rgb(255 141 198 / 100%) 0%,
      rgb(153 111 222 / 100%) 50%,
      rgb(63 156 241 / 100%) 100%
    );
  color: $color-white;
  padding: 30px 0;

  a,
  a:focus,
  a:active,
  a:visited {
    color: $color-white;
    text-decoration: underline;
  }

  a:hover {
    opacity: 0.8;
  }
}

.testimonial-image {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.bg-blue {
  background-color: #3f9cf1;
  color: #fff;
}

.bg-purple {
  background-color: #996fde;
  color: #fff;
}

.bg-pink {
  background-color: #ff8dc6;
  color: #fff;
}

.bg-green {
  background-color: #5ec472;
  color: #fff;
}

.app-icon {
  max-width: 200px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 20px;
  margin: 10px;
}

.app-store-icon {
  display: block;
  margin: auto;
}

.game-image {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 20px;
  margin: 10px 0 20px;
}

.capsule {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 25%), 0 6px 20px 0 rgb(0 0 0 / 22%);
  border-radius: 30px;
  margin: 10px;
  background-color: #fff;
  color: #3f9cf1;
  padding: 5px;
  font-size: 3vmin;
}

// Media queries

@media screen and (width <= 768px) {
  h1 {
    font-size: 9vmin;
  }

  h2 {
    text-align: center;
    font-size: 6vmin;
  }

  h3 {
    font-size: 5.5vmin;
  }

  h4 {
    font-size: 4.5vmin;
  }
}
