// Variables

$color-primary: #007dda;
$color-text: #242424;
$color-white: #fff;

// Elements

body {
  font: 1.4rem Helvetica, sans-serif;
  line-height: 1.8;
  color: $color-text;
  overflow-x: none;
}

h1 {
  font-size: 7vmin;
}

h2 {
  text-align: center;
  font-size: 4vmin;
}

h4 {
  line-height: 1.375em;
  font-weight: 400;
  margin-bottom: 30px;
}

a,
a:focus,
a:active,
a:visited {
  color: $color-primary;
}

a:hover {
  opacity: 0.7;
}

footer {
  font-size: 18px;
  background: rgb(255,141,198);
  background: linear-gradient(135deg, rgba(255,141,198,1) 0%, rgba(153,111,222,1) 50%, rgba(63,156,241,1) 100%);
  color: $color-white;

  a,
  a:focus,
  a:active,
  a:visited {
    color: $color-white;
    text-decoration: underline !important;
  }
}

// Overrides

.container {
  padding: 40px;
}

.col-md-4 {
  margin: 20px 0;
}

// Custom

.bg-banner {
  background: rgb(255,141,198);
  background: linear-gradient(135deg, rgba(255,141,198,1) 0%, rgba(153,111,222,1) 50%, rgba(63,156,241,1) 100%);
  color: $color-white;
  padding: 50px 30px 0;

  a,
  a:focus,
  a:active,
  a:visited {
    color: $color-white;
    text-decoration: underline;
  }

  a:hover {
    opacity: 0.8;
  }
}

.app-store-icon {
  display: block;
  margin: auto;
}

.game-image {
  max-width: 200px;
  border-radius: 20px;
}

// Media Queries

@media screen and (max-width: 768px) {
  h2 {
    font-size: 6vmin;
  }
}
