version: '3.8'
services:
  crazy-color-clash:
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: '0.50'
          memory: '512M'
        reservations:
          cpus: '0.25'
          memory: '128M'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost']
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      - 'traefik.http.routers.crazy-color-clash.rule=Host(`crazy-color-clash.com`) || Host(`www.crazy-color-clash.com`)'
      - 'traefik.http.routers.crazy-color-clash.tls=true'
      - 'traefik.http.routers.crazy-color-clash.tls.certresolver=letsencrypt'
    volumes:
      - ./src/storage/logs:/var/www/html/storage/logs
      - ./src/storage/crazy-color-clash/public:/var/www/html/storage/crazy-color-clash/public
