version: '3.8'
services:
  crazy-color-clash:
    build: .
    restart: always
    networks:
      - traefik
      - crazy-color-clash
    labels:
      - traefik.enable=true
    env_file:
      - src/.env

networks:
  traefik:
    name: traefik
  crazy-color-clash:
    name: crazy-color-clash
